body{

text-decoration:none;
    text-align: center;
    justify-items: center; background-image:url("../Images/music.png") ;
    background-size:cover ;
    background-repeat: no repeat;
    background-attachment: fixed;
}

span{
    color:#ff5e00;
    text-shadow:1px 4px #000000;
   text-align: center;
}


img{
    width: 100px;
    height: 100px;
    border:none;
    border-radius:50px;
    }
.icons{ 
text-decoration:none;
    position: absolute;
    top:1250px;
    margin-left:0px;
    text-align: center;
}
footer{
    position: absolute;
    top:1500px;
    padding:20px;
    color:white;
}
   
h1{
       color:#2600ff;
       text-shadow:1px 3px #060707;
   }
h2{
       color:#ffffff;
       text-shadow:1px 3px #060707;
   }
    #about{
    color:black;
    text-shadow:0px 0px;
        
    }

.icons i{
    padding:50px;
}
.about{
    width: 150px;
    height: 150px;
    border-radius: 5px 50px;
    box-shadow:1px 3px 6px #000000;
   position: absolute;
    top:255px;
   left:px;
    background :linear-gradient(100deg,#6500ff,#ffb200,#26ff00,#ff15fc,#0003ff,#000000);
    background-size:300% 300%;
    animation:color 4s ease-in-out infinite;
}
.song{
    width: 150px;
    height: 150px;
    border-radius: 5px 50px;
    box-shadow:1px 3px 6px #000000;
    position: absolute;
    top:255px;
    left:200px;
    background :linear-gradient(100deg,#6500ff,#ffb200,#26ff00,#ff15fc,#0003ff,#000000);
    background-size:300% 300%;
    animation:color 4s ease-in-out infinite;
}
.music{
    width: 150px;
    height: 150px;
    border-radius: 5px 50px;
    box-shadow:1px 3px 6px #000000;
position: absolute;
    top:480px;
 background :linear-gradient(100deg,#6500ff,#ffb200,#26ff00,#ff15fc,#0003ff,#000000);
    background-size:300% 300%;
    animation:color 4s ease-in-out infinite;
 }
   
   .container{
       position: absolute;
       top:40px;
       
   }

.track{
    width: 150px;
    height: 150px;
    border-radius: 5px 50px;
    box-shadow:1px 3px 6px #000000;
 position: absolute;
    top:480px;
    left:200px;
  background :linear-gradient(100deg,#6500ff,#ffb200,#26ff00,#ff15fc,#0003ff,#000000);
    background-size:300% 300%;
    animation:color 4s ease-in-out infinite;
}
audio{
    width: 150px;
    height: 50px;
    background-color: black;
    outline:none;
}
button {
width: 100px;
height: 35px;
    outline:none;
    background:white;
    border:none;
    border-radius: 50px;
    box-shadow:1px 4px;
    text-decoration:none;
    
   
}
button a{
    text-decoration:none;
    color:black;
    
}

.painx{
    position:absolute;
    top:417px;
}
.energy{
    position:absolute;
    top:643px;
    left:25px;
}


.only{
    position:absolute;
    top:640px;
    left:230px;
}

.painx{
    position:absolute;
    top:420px;
    left:25px;
}
.Twistedlove{
    position:absolute;
    top:420px;
    left:230px;
}


h3{
    margin-top:8px;
}



.main{
    background:white;
    border-radius: 20px;
    padding:10px;
    position: relative;
    top:550px;
    height:400px;
    
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    10%{
        background-position: 0% 50%;
    }
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    10%{
        background-position: 0% 50%;
    }
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    10%{
        background-position: 0% 50%;
    }
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    10%{
        background-position: 0% 50%;
    }
}
